intro_OPENMP/hello
intro_OPENMP/summ
intro_OPENMP/sequential_access
additional_tasks/nested_omp/additional_nested_omp
additional_tasks/untied_tasks/additional_untied_tasks
additional_tasks/sort/additional_sort
additional_tasks/matrix/build
.vscode/
additional_tasks/sieve_eratosthenes/a.out
additional_tasks/sieve_eratosthenes/results.txt
lab_1/build