intro_OPENMP/hello
intro_OPENMP/summ
intro_OPENMP/sequential_access
additional_nested_omp/additional_nested_omp
additional_untied_tasks/additional_untied_tasks
additional_matrix/additional_matrix
.vscode/